USE [master]
GO
/****** Object:  Database [Gemstones]    Script Date: 5/17/2020 9:52:59 PM ******/
CREATE DATABASE [Gemstones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gemstones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Gemstones.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Gemstones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Gemstones_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gemstones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gemstones]
GO
/****** Object:  Table [dbo].[BAOCAOTONKHO]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTONKHO](
	[MaBaoCaoTonKho] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[MaSanPham] [int] NULL,
	[TonDau] [int] NULL,
	[SLMuaVao] [int] NULL,
	[SLBanRa] [int] NULL,
	[TonCuoi] [int] NULL,
	[MaDVT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoTonKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PBH]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PBH](
	[MaCT_PBH] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuBanHang] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuongBan] [int] NULL,
	[ThanhTien] [float] NULL,
	[SoLuongSPHienTai] [int] NULL,
	[DonGiaSPHienTai] [float] NULL,
	[PhuongThuc] [nvarchar](256) NULL,
	[DonGiaNhapSPHienTai] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT_PBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PDV]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PDV](
	[MaCT_PDV] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDichVu] [int] NULL,
	[MaDichVu] [int] NULL,
	[DonGiaDichVu] [float] NULL,
	[ChiPhiRieng] [float] NULL,
	[DonGiaDuocTinh] [float] NULL,
	[SoLuongDichVu] [int] NULL,
	[ThanhTien] [float] NULL,
	[TienTraTruoc] [float] NULL,
	[TienConlai] [float] NULL,
	[NgayGiao] [date] NULL,
	[TinhTrangCT_PDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT_PDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PMH]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PMH](
	[MaCT_PMH] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuMuaHang] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuongMua] [int] NULL,
	[ThanhTien] [float] NULL,
	[SoLuongSPHienTai] [int] NULL,
	[DonGiaSPHienTai] [float] NULL,
	[PhuongThuc] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT_PMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](max) NULL,
	[DonGiaDV] [float] NULL,
	[TrangThaiDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DVT]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVT](
	[MaDVT] [int] IDENTITY(1,1) NOT NULL,
	[TenDVT] [nvarchar](max) NULL,
	[TrangThaiDVT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NULL,
	[DiaChiKH] [nvarchar](max) NULL,
	[EmailKH] [nvarchar](max) NULL,
	[SoDienThoaiKH] [nvarchar](20) NULL,
	[TongTienMuaKH] [float] NULL,
	[TrangThaiKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoaiSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](max) NULL,
	[MaDVT] [int] NULL,
	[PhanTramLoiNhuan] [float] NULL,
	[TrangThaiLoaiSanPham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](max) NULL,
	[DiaChiNCC] [nvarchar](max) NULL,
	[EmailNCC] [nvarchar](max) NULL,
	[SoDienThoaiNCC] [nvarchar](20) NULL,
	[TongTienBanNCC] [float] NULL,
	[TrangThaiNCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](max) NULL,
	[DiaChiNV] [nvarchar](max) NULL,
	[EmailNV] [nvarchar](max) NULL,
	[SoDienThoaiNV] [nvarchar](20) NULL,
	[LuongCoBan] [float] NULL,
	[PhanTramHoaHong] [float] NULL,
	[HinhAnhNV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUBANHANG]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBANHANG](
	[MaPhieuBanHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayLapPhieuBan] [date] NULL,
	[TongSoLuongBan] [int] NULL,
	[TongThanhTien] [float] NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDICHVU]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDICHVU](
	[MaPhieuDichVu] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayLapPhieuDichVu] [date] NULL,
	[TongSoLuongDichVu] [int] NULL,
	[TongThanhTien] [float] NULL,
	[TongTienTraTruoc] [float] NULL,
	[TongTienConLai] [float] NULL,
	[MaNhanVien] [int] NULL,
	[TinhTrangPDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUMUAHANG]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUAHANG](
	[MaPhieuMuaHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCap] [int] NULL,
	[NgayLapPhieuMua] [date] NULL,
	[TongSoLuongMua] [int] NULL,
	[TongThanhTien] [float] NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiSanPham] [int] NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[DonGiaNhap] [float] NULL,
	[DonGiaBan] [float] NULL,
	[TongSoLuongTon] [int] NULL,
	[HinhAnhSanPham] [nvarchar](max) NULL,
	[TrangThaiSanPham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 5/17/2020 9:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nvarchar](256) NOT NULL,
	[GiaTri] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BAOCAOTONKHO] ON 

INSERT [dbo].[BAOCAOTONKHO] ([MaBaoCaoTonKho], [Thang], [Nam], [MaSanPham], [TonDau], [SLMuaVao], [SLBanRa], [TonCuoi], [MaDVT]) VALUES (1, 5, 2020, 20, 50, 50, 10, 90, 2)
INSERT [dbo].[BAOCAOTONKHO] ([MaBaoCaoTonKho], [Thang], [Nam], [MaSanPham], [TonDau], [SLMuaVao], [SLBanRa], [TonCuoi], [MaDVT]) VALUES (2, 5, 2020, 19, 90, 0, 7, -7, 1)
INSERT [dbo].[BAOCAOTONKHO] ([MaBaoCaoTonKho], [Thang], [Nam], [MaSanPham], [TonDau], [SLMuaVao], [SLBanRa], [TonCuoi], [MaDVT]) VALUES (3, 5, 2020, 17, 11, 0, 4, 7, 1)
SET IDENTITY_INSERT [dbo].[BAOCAOTONKHO] OFF
SET IDENTITY_INSERT [dbo].[CT_PBH] ON 

INSERT [dbo].[CT_PBH] ([MaCT_PBH], [MaPhieuBanHang], [MaSanPham], [SoLuongBan], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc], [DonGiaNhapSPHienTai]) VALUES (3, 1, 18, 4, 8800000, 6, 2200000, N'Bán Hàng', 2000000)
INSERT [dbo].[CT_PBH] ([MaCT_PBH], [MaPhieuBanHang], [MaSanPham], [SoLuongBan], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc], [DonGiaNhapSPHienTai]) VALUES (4, 1, 17, 2, 3600000, 8, 1800000, N'Bán Hàng', 1500000)
INSERT [dbo].[CT_PBH] ([MaCT_PBH], [MaPhieuBanHang], [MaSanPham], [SoLuongBan], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc], [DonGiaNhapSPHienTai]) VALUES (5, 2, 18, 2, 4400000, 4, 2200000, N'Bán Hàng', 2000000)
SET IDENTITY_INSERT [dbo].[CT_PBH] OFF
SET IDENTITY_INSERT [dbo].[CT_PDV] ON 

INSERT [dbo].[CT_PDV] ([MaCT_PDV], [MaPhieuDichVu], [MaDichVu], [DonGiaDichVu], [ChiPhiRieng], [DonGiaDuocTinh], [SoLuongDichVu], [ThanhTien], [TienTraTruoc], [TienConlai], [NgayGiao], [TinhTrangCT_PDV]) VALUES (1, 1, 1, 200000, 0, 200000, 1, 200000, 100000, 100000, CAST(0x13410B00 AS Date), 0)
INSERT [dbo].[CT_PDV] ([MaCT_PDV], [MaPhieuDichVu], [MaDichVu], [DonGiaDichVu], [ChiPhiRieng], [DonGiaDuocTinh], [SoLuongDichVu], [ThanhTien], [TienTraTruoc], [TienConlai], [NgayGiao], [TinhTrangCT_PDV]) VALUES (2, 2, 2, 50000, 0, 50000, 20, 1000000, 500000, 500000, CAST(0x13410B00 AS Date), 0)
INSERT [dbo].[CT_PDV] ([MaCT_PDV], [MaPhieuDichVu], [MaDichVu], [DonGiaDichVu], [ChiPhiRieng], [DonGiaDuocTinh], [SoLuongDichVu], [ThanhTien], [TienTraTruoc], [TienConlai], [NgayGiao], [TinhTrangCT_PDV]) VALUES (4, 4, 1, 200000, 0, 200000, 5, 1000000, 500000, 500000, CAST(0x14410B00 AS Date), 0)
SET IDENTITY_INSERT [dbo].[CT_PDV] OFF
SET IDENTITY_INSERT [dbo].[CT_PMH] ON 

INSERT [dbo].[CT_PMH] ([MaCT_PMH], [MaPhieuMuaHang], [MaSanPham], [SoLuongMua], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc]) VALUES (7, 5, 17, 10, 18000000, 10, 1800000, N'Khởi Tạo')
INSERT [dbo].[CT_PMH] ([MaCT_PMH], [MaPhieuMuaHang], [MaSanPham], [SoLuongMua], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc]) VALUES (8, 6, 18, 10, 22000000, 10, 2200000, N'Khởi Tạo')
INSERT [dbo].[CT_PMH] ([MaCT_PMH], [MaPhieuMuaHang], [MaSanPham], [SoLuongMua], [ThanhTien], [SoLuongSPHienTai], [DonGiaSPHienTai], [PhuongThuc]) VALUES (9, 7, 19, 100, 300000000, 100, 3000000, N'Khởi Tạo')
SET IDENTITY_INSERT [dbo].[CT_PMH] OFF
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [DonGiaDV], [TrangThaiDV]) VALUES (1, N'Gia Công Nữ Trang', 200000, 1)
INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [DonGiaDV], [TrangThaiDV]) VALUES (2, N'Cân Thử Vàng', 50000, 1)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
SET IDENTITY_INSERT [dbo].[DVT] ON 

INSERT [dbo].[DVT] ([MaDVT], [TenDVT], [TrangThaiDVT]) VALUES (1, N'Cái', 1)
INSERT [dbo].[DVT] ([MaDVT], [TenDVT], [TrangThaiDVT]) VALUES (2, N'Chiếc', 1)
SET IDENTITY_INSERT [dbo].[DVT] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [DiaChiKH], [EmailKH], [SoDienThoaiKH], [TongTienMuaKH], [TrangThaiKH]) VALUES (1, N'Nguyễn Vũ Khánh', N'Hồ Chí Minh', N'nguyenvukhanh0202@gmail.com', N'0858100938', 16800000, 1)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [DiaChiKH], [EmailKH], [SoDienThoaiKH], [TongTienMuaKH], [TrangThaiKH]) VALUES (3, N'Vũ Cát', N'Đà Nẵng', N'cat@uit.edu.vn', N'0928738827', 16100000, 1)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [DiaChiKH], [EmailKH], [SoDienThoaiKH], [TongTienMuaKH], [TrangThaiKH]) VALUES (4, N'Nguyễn Hoàng Vũ', N'Hà Nội', N'vu@gmail.com', N'0823982948', 28100000, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLoaiSanPham], [TenLoaiSanPham], [MaDVT], [PhanTramLoiNhuan], [TrangThaiLoaiSanPham]) VALUES (1, N'Nhẫn', 2, 10, 1)
INSERT [dbo].[LOAISANPHAM] ([MaLoaiSanPham], [TenLoaiSanPham], [MaDVT], [PhanTramLoiNhuan], [TrangThaiLoaiSanPham]) VALUES (2, N'Dây Chuyền', 1, 20, 1)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChiNCC], [EmailNCC], [SoDienThoaiNCC], [TongTienBanNCC], [TrangThaiNCC]) VALUES (1, N'UIT', N'Hồ Chí Minh', N'uit@gmail.com', N'0282774982', 191000000, 1)
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChiNCC], [EmailNCC], [SoDienThoaiNCC], [TongTienBanNCC], [TrangThaiNCC]) VALUES (2, N'TCT', N'Hà Nội', N'tct@gmail.com', N'0928758023', 4200000, 1)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[PHIEUBANHANG] ON 

INSERT [dbo].[PHIEUBANHANG] ([MaPhieuBanHang], [MaKhachHang], [NgayLapPhieuBan], [TongSoLuongBan], [TongThanhTien], [MaNhanVien]) VALUES (1, 5, CAST(0x12410B00 AS Date), 6, 12400000, NULL)
INSERT [dbo].[PHIEUBANHANG] ([MaPhieuBanHang], [MaKhachHang], [NgayLapPhieuBan], [TongSoLuongBan], [TongThanhTien], [MaNhanVien]) VALUES (2, 6, CAST(0xF6400B00 AS Date), 5, 9800000, NULL)
INSERT [dbo].[PHIEUBANHANG] ([MaPhieuBanHang], [MaKhachHang], [NgayLapPhieuBan], [TongSoLuongBan], [TongThanhTien], [MaNhanVien]) VALUES (3, 3, CAST(0xD7400B00 AS Date), 3, 6200000, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUBANHANG] OFF
SET IDENTITY_INSERT [dbo].[PHIEUDICHVU] ON 

INSERT [dbo].[PHIEUDICHVU] ([MaPhieuDichVu], [MaKhachHang], [NgayLapPhieuDichVu], [TongSoLuongDichVu], [TongThanhTien], [TongTienTraTruoc], [TongTienConLai], [MaNhanVien], [TinhTrangPDV]) VALUES (1, 1, CAST(0x12410B00 AS Date), 1, 200000, 100000, 100000, NULL, 0)
INSERT [dbo].[PHIEUDICHVU] ([MaPhieuDichVu], [MaKhachHang], [NgayLapPhieuDichVu], [TongSoLuongDichVu], [TongThanhTien], [TongTienTraTruoc], [TongTienConLai], [MaNhanVien], [TinhTrangPDV]) VALUES (2, 1, CAST(0x13410B00 AS Date), 20, 1000000, 500000, 500000, NULL, 0)
INSERT [dbo].[PHIEUDICHVU] ([MaPhieuDichVu], [MaKhachHang], [NgayLapPhieuDichVu], [TongSoLuongDichVu], [TongThanhTien], [TongTienTraTruoc], [TongTienConLai], [MaNhanVien], [TinhTrangPDV]) VALUES (4, 4, CAST(0x14410B00 AS Date), 5, 1000000, 500000, 500000, NULL, 0)
SET IDENTITY_INSERT [dbo].[PHIEUDICHVU] OFF
SET IDENTITY_INSERT [dbo].[PHIEUMUAHANG] ON 

INSERT [dbo].[PHIEUMUAHANG] ([MaPhieuMuaHang], [MaNhaCungCap], [NgayLapPhieuMua], [TongSoLuongMua], [TongThanhTien], [MaNhanVien]) VALUES (5, NULL, CAST(0x12410B00 AS Date), 10, 18000000, NULL)
INSERT [dbo].[PHIEUMUAHANG] ([MaPhieuMuaHang], [MaNhaCungCap], [NgayLapPhieuMua], [TongSoLuongMua], [TongThanhTien], [MaNhanVien]) VALUES (6, NULL, CAST(0x12410B00 AS Date), 10, 22000000, NULL)
INSERT [dbo].[PHIEUMUAHANG] ([MaPhieuMuaHang], [MaNhaCungCap], [NgayLapPhieuMua], [TongSoLuongMua], [TongThanhTien], [MaNhanVien]) VALUES (7, NULL, CAST(0x15410B00 AS Date), 100, 300000000, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUMUAHANG] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
INSERT [dbo].[THAMSO] ([TenThamSo], [GiaTri]) VALUES (N'PhamTramTraTruoc', 50)
ALTER TABLE [dbo].[BAOCAOTONKHO]  WITH CHECK ADD  CONSTRAINT [fk_BAOCAO_DVT] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DVT] ([MaDVT])
GO
ALTER TABLE [dbo].[BAOCAOTONKHO] CHECK CONSTRAINT [fk_BAOCAO_DVT]
GO
ALTER TABLE [dbo].[BAOCAOTONKHO]  WITH CHECK ADD  CONSTRAINT [fk_BAOCAO_SP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[BAOCAOTONKHO] CHECK CONSTRAINT [fk_BAOCAO_SP]
GO
ALTER TABLE [dbo].[CT_PBH]  WITH CHECK ADD  CONSTRAINT [fk_CT_PBH] FOREIGN KEY([MaPhieuBanHang])
REFERENCES [dbo].[PHIEUBANHANG] ([MaPhieuBanHang])
GO
ALTER TABLE [dbo].[CT_PBH] CHECK CONSTRAINT [fk_CT_PBH]
GO
ALTER TABLE [dbo].[CT_PBH]  WITH CHECK ADD  CONSTRAINT [fk_CT_PBH_SP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_PBH] CHECK CONSTRAINT [fk_CT_PBH_SP]
GO
ALTER TABLE [dbo].[CT_PDV]  WITH CHECK ADD  CONSTRAINT [fk_CT_PDV] FOREIGN KEY([MaPhieuDichVu])
REFERENCES [dbo].[PHIEUDICHVU] ([MaPhieuDichVu])
GO
ALTER TABLE [dbo].[CT_PDV] CHECK CONSTRAINT [fk_CT_PDV]
GO
ALTER TABLE [dbo].[CT_PDV]  WITH CHECK ADD  CONSTRAINT [fk_CT_PDV_DV] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
GO
ALTER TABLE [dbo].[CT_PDV] CHECK CONSTRAINT [fk_CT_PDV_DV]
GO
ALTER TABLE [dbo].[CT_PMH]  WITH CHECK ADD  CONSTRAINT [fk_CT_PMH] FOREIGN KEY([MaPhieuMuaHang])
REFERENCES [dbo].[PHIEUMUAHANG] ([MaPhieuMuaHang])
GO
ALTER TABLE [dbo].[CT_PMH] CHECK CONSTRAINT [fk_CT_PMH]
GO
ALTER TABLE [dbo].[CT_PMH]  WITH CHECK ADD  CONSTRAINT [fk_CT_PMH_SP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_PMH] CHECK CONSTRAINT [fk_CT_PMH_SP]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_LSP_DVT] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DVT] ([MaDVT])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [fk_LSP_DVT]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [fk_KH_PBH] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [fk_KH_PBH]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [fk_NV_PBH] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [fk_NV_PBH]
GO
ALTER TABLE [dbo].[PHIEUDICHVU]  WITH CHECK ADD  CONSTRAINT [fk_KH_PDV] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUDICHVU] CHECK CONSTRAINT [fk_KH_PDV]
GO
ALTER TABLE [dbo].[PHIEUDICHVU]  WITH CHECK ADD  CONSTRAINT [fk_NV_PDV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUDICHVU] CHECK CONSTRAINT [fk_NV_PDV]
GO
ALTER TABLE [dbo].[PHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [fk_NCC_PMH] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] CHECK CONSTRAINT [fk_NCC_PMH]
GO
ALTER TABLE [dbo].[PHIEUMUAHANG]  WITH CHECK ADD  CONSTRAINT [fk_NV_PMH] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUMUAHANG] CHECK CONSTRAINT [fk_NV_PMH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP_LSP] FOREIGN KEY([MaLoaiSanPham])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoaiSanPham])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP_LSP]
GO
USE [master]
GO
